/* GLOBAL */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Rubik","Arial", sans-serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER */
.site-header {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F6F6F6;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-content {
  display: flex;
  align-items: center;
}

.currency {
  margin-top: 0;
  margin-bottom: 0;
}

.currency:not(:last-child) {
  margin-left: 35px;
  margin-right: 25px;
}

.site-header-right {
  display: flex;
  align-items: center;
}

input {
  border-radius: 60px;
  width: 275px;
  padding: 15px;
  height: 45px;
  border: none;
  margin-right: 25px;
}

.buttons {
  display: flex;
  background: #DCE6FF;
  border-radius: 39px;
  width: 70px;
  height: 36px;
  margin-right: 25px;
  align-items: center;
}

button:not(:last-child){
  background-color: #fff;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  font-weight: 400;
  margin:3px;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}

button:last-child {
  border-radius: 50%;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

.main-link {
  background: #7296EC;
  border: 2px solid #7296EC;
  border-radius: 10px;
  padding: 13px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
  transition: color 0.4s ease, background-color 0.4s ease;
}

.main-link:hover {
  border: 2px solid #7296EC;
  background-color:transparent;
  color: #000;
}

.main-link:active {
  background-color: #7295eea5;
  opacity: 0.7;
}

.site-name {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  padding: 9px 6px 8px;
  line-height: 28px;
  color: #7296EE;
  text-decoration: none;
  background-color: #fff;
  border-radius: 7px;
}

.site-name-footer {
  background-color: transparent;
  color: #fff;
  border-radius: none;
  padding: 0;
}

main {
  flex-grow: 1;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 0;
  margin: 0;
  margin-bottom: 40px;
  border-bottom: 2px solid rgba(209, 209, 209, 1);
  list-style: none;
}

.site-nav-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s ease;
}

.site-nav-link:hover {
  color: #4575efe6;
}

.site-nav-link:active {
  opacity: 0.6;
}

.hero-reklama {
  display: inline-block;
  margin-bottom: 50px;
}

/* REKLAMA */
.rek-img {
  display: block;
  border-radius: 8px;
}


/* HERO-SECTION */
.hero-container {
  margin-bottom: 60px;
}

.hero-content-link {
  text-decoration: none;
}

.hero-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-left: -10px;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-list-item {
  width: 393px;
  background-color: #F6F6F6;
  padding: 17px;
  border-radius: 15px;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: none;
}

.hero-content-heading {
  font-weight: 500;
  font-size: 20px;
  width: 346px;
  line-height: 26px;
  color: #000;
  margin: 0;
  margin-bottom: 10px;
}

.hero-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
  margin: 0;
  margin-bottom: 15px;
}

.hero-img {
  border-radius:10px;
  margin-bottom: 15px;
}

.hero-content-downpart {
  display: flex;
  align-items: center;
}

.hero-content-site-logo {
  margin-right: 10px;
}

.hero-content-site-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5E5F61;
  margin: 0;
}


  /* INVITE - SECTION */
.invite-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.part-turn-on-container {
  display: flex;
  justify-content: center;
}

.part-turn-on {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 950px;
  margin-top: -221px;
}

.turn-on-heading {
  width: 404px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.turn-on {
  background-color: #F78B3B;
  color:white;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 11px 28px;
  border-radius: 10px;
  border: 2px solid transparent;
  text-decoration: none;
}

.turn-on:hover {
  background-color: #ff7003;
}

.turn-on:active {
  opacity: 0.8;
}

/* WORLD - NEWS - SECTION */

.new-right-side-container {
  display: flex;
}

.new-right-side-container {

}

.news {
  margin-bottom: 100px;
}

.news-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 20px;
}

.news-list {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  margin-bottom: 34px;
}

.news-item {
  display: flex;
  flex-grow: 1;
  width: 797px;
  background: #F6F6F6;
  border-radius: 15px;
  padding: 20px 17px;
  margin-bottom: 10px;
}


.news-item-img {
  margin-right: 15px;
  border-radius: 10px;

}

.news-content-heading {
  width: 535px;
  margin-right: 0;
}

.news-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: #EAEAEA;
  padding: 17px 343px;
  border-radius: 10px;
  text-decoration: none;
  color:#222;
}

.news-button:hover {
  cursor: pointer;
  background-color:#D2D2D2 ;
}

.news-button:active {
  opacity: 0.8;
}

.news-right-side {

}
.news-right-side-content {
}
.news-right-side-list {
  background: #F6F6F6;
  width: 393px;
  height: 502px;
  list-style: none;
  border-radius: 15px;
  padding: 20px 17px 25px;
  margin: 0;
  margin-bottom: 10px;
}
.news-right-side-item {
  border-bottom: 1px solid #D2D2D2;
  margin-bottom: 20px;
}

.news-right-side-item:last-child {
  border: none;
}

.news-right-side-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 20px;
}

.news-right-side-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 8px;
}
.news-right-side-info {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  margin: 0;
  margin-bottom: 20px;
}


/* SITE-FOOTER */
.site-footer {
  background-color: #7297EF;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
}

.site-footer-container {
  display: flex;
  justify-content: center;
}

.site-footer-wrapper {
  width: 999px;
}

.site-name-footer {
  display: inline-block;
  margin-bottom: 15px;

}

.site-footer-texts {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #CECECE;
  margin-bottom: 20px;
}

.site-footer-info {
  width: 229px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  margin: 0;
}

.site-footer-list{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.site-footer-item {
  margin-bottom: 20px;
}

.site-footer-item:last-child {
  margin-bottom: 0;
}

.site-footer-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
}

.site-footer-social-text {
  width: 161px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}

.footer-social-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-item {
  margin-right: 25px;
}

.social-item:last-child {
  margin-right: 0;
}